{% load static %} {% block body %} {% include 'user_navigation.html' %}

<marquee style="font-family:'Times New Roman'; font-size : 25px; color:darkcyan; background-color: black; font-weight: bold; margin-top: 1%;">
    Feedback
</marquee>
<hr>
<form class="container mt-5" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-12">
            <label class="font-weight-bold">Subject Title</label>
            <input type="text" class="form-control" name="subtitle" placeholder="Enter Subject Title" required>
        </div>
        <div class="form-group col-md-12">
            <label class="font-weight-bold">Message</label>
            <input type="text" class="form-control" name="message" placeholder="Enter Job Title" required>
            <!--accept="image/*"-->
        </div>
    </div>



    <input type="submit" value="Submit" class="btn btn-primary my-3" style="width:200px">
</form>
<br>
<br> {% include 'footer.html' %} {% if error == "no" %}
<script>
    alert("Feedback has been send Successful");
    window.location = ("{% url 'user_home' %}")
</script>
{% endif %} {% if error == "yes" %}
<script>
    alert("Something wrong,Try Again.....");
</script>
{% endif %} {% endblock %}