{% load static %} {% block body %} {% include 'navigation.html' %}

<marquee style="font-family:'Times New Roman'; font-size : 25px; color:darkcyan; background-color: black; font-weight: bold; margin-top: 1%;">
    Latest Job List
</marquee>
<hr>
<div class="container">
    <table class=" table table-hover " id="example">
        <thead>
            <tr style="background-color: aquamarine;">
                <th>Sr.No</th>
                <th>Company Name</th>
                <th>Job Title</th>
                <th>Location</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in job %}
            <tr style="background-color: #e0a09f">
                <td>{{ forloop.counter }}</td>
                <td>{{ i.provider.company }}</td>
                <td>{{ i.title }}</td>
                <td>{{ i.location }}</td>

                <td>
                    <a href="{% url 'user_login' %}" class="btn btn-success btn-sm">Apply</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br><br> {% include 'footer.html' %} {% endblock %}